.hub
  .hub-activator
    cursor: pointer
    cursor: hand
    overflow: hidden
    position: fixed
    display: block
    top: 45%
    left: 0px
    z-index: 2147000000
    margin: 0
    padding: 0
    border-collapse: collapse
    border-spacing: 0
    border: none
    outline: none
    color: blue
    button.hub-button span.label
      font-size: 0px
      line-height: 0px
    button.hub-button:hover span.label
      font-size:15px
      line-height: 15px