

.hub
  font-family: 'Open Sans', 'sans-serif'
  position : absolute
  left:0
  button
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0px
    color: #ffffff
    font-size: 20px
    background: #34992b
    padding: 10px 20px 10px 20px
    text-decoration: none

  button:hover
    background: #93d68d
  button.btn-close
    color: rgba(255,255,255,0.5)
    background-color: rgba(0,0,255,0)
    border: none
    font-size: 30px
    text-decoration: none
    position: absolute
    right: 5px
    top: 0
    visibility: hidden
    display: none
  button.btn-close:hover
    color: white
  button.btn-close.open
      visibility: visible
      display: block
  .hub-activator
    cursor: pointer
    cursor: hand
    overflow: hidden
    position: fixed
    display: block
    top: 45%
    left: 0px
    z-index: 2147000000
    margin: 0
    padding: 0
    border-collapse: collapse
    border-spacing: 0
    border: none
    outline: none
    color: blue
    button.hub-button
      height:50px
      background: #fff
      border-radius: 4px
      border:1px solid #ccc
      margin:0 10px 0
      box-shadow: 0 0 2px  #fff inset
      -webkit-transform: perspective(100px) rotateX(30deg)
      -moz-transform: perspective(100px) rotateX(30deg)
      span.label
        font-size: 0px
        line-height: 0px
    button.hub-button:hover span.label
        color:green
        font-size:15px
        line-height: 15px
  .hub-activator.open
    display: none
    visibility: hidden
/*
div.hub-activator
  button.hub-button(data-action='activation')
    width: 60px
    height: 60px
    background-image: none
    background-color: transparent
    border: none
    padding: 0
    -webkit-transition: background-color 0.2s ease-out
    transition: background-color 0.2s ease-out
    -webkit-tap-highlight-color: transparent
    span.label Hub
*/