.logo
  display: block
  width: 100%
    img
      padding-top: 40px
      margin-left: auto
      margin-right: auto
      background-size: cover
      display: block
    div.title
      font-size: 14pt
      display:block
      width: 100%
      text-align: center
    div.description
      font-size: 10pt
      display:block
      width: 100%
      text-align: center