.logo
  display: block
  width: 100%
    img
      width: 100px
      margin-left: auto
      margin-right: auto
      background-size: cover
      display: block
    div.title
      font-size: 10pt
      display:block
      width: 100%
      text-align: center