.hub
  p
    text-align: center
  p.error
    color: red
  form
    width:100%
    padding: 0
    div
      //hub relogging button.
      button
        border:none
        font-family: Arial
        color: #ffffff
        font-size: 20px
        background: #3ab07b
        padding: 10px 20px 10px 20px
        text-decoration: none
        width: 100%
        text-align: center
      button:hover
        background: #45e09a
        text-decoration: none