div.user
  img.img-circular
    width: 100px
    margin-left: auto
    margin-right: auto
    background-size: cover
    display: block
    border-radius: 50px
    padding-top: 25px;
    -webkit-border-radius: 50px
    -moz-border-radius: 50px
  div.title
    font-size: 10pt
    display:block
    width: 100%
    text-align: center
  div.entite
    font-size: 8pt
    display:block
    width: 100%
    text-align: center
    