include ./logo.jade
nav(class="hub-container" data-hub-content)
  button(class="btn btn-close", data-action='close') x
  +logo()
  p.error="Le hub a rencontré une erreur non prévue, veuillez réessayer ultérieurement de le recharger."