mixin logo()
  div.logo
    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA1klEQVQ4T2NkoDJgpLJ5DEPYwP///zsAgyMfiEG0ABAfgOKJjIyMH3AFFVYvAw1LAGqYj0PTBaC4Iy5DMQyEumw/gcg6ADTQEZsabAZuACr0JyL2Qb54AMQfgYaDXA0G2Az8T4Rh6EpA4ZsINPgBtQwEWQCKKEWwgcBwCwBS/UCsQIbrkLUsZIQatp5Cg2DaP4AMBAWoPpUMZAAZSE4k4LL/IshAUAzZU8mFiSADHYCGEUrIxNi3EJhsEmCxDDK0gUyXXgTqmwA0bAHI1iFcfBETaNjUAACNs0XR/bPXZwAAAABJRU5ErkJggg==", class='img-circular')
    div.title="Le hub  ça défonce"