items = []
nav.class("hub-container")
  h4=title
  div.user
    div.photo
      img(src=user.photo)
    div.title= user.name
  ul.items
    for item in items
      li= item
    else
      li sorry, items
